@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
font-family: sans-serif;
  background-color:#7c8596;
 /* height: fit-content; */
 background-repeat: no-repeat;

 
}
.footer{
    height: 120px;
    width:100% ;
    text-align: center;
    background-color: rgb(182, 102, 102);
    font-size: 15px;
    margin-bottom: 10px;
    
  }
.Footer-Link{
    display: flex;
    justify-content: space-evenly;
    text-decoration-line: none;
    font-size: 20px;
    color: aliceblue;
}
.pnf{
    text-align: center;
}

   .logo{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: aquamarine;
    
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: #6e1f1f;
    box-shadow: 0 12px 6px -6px grey;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #378b96;
    padding: 0.5rem 1rem;
  } 

  .TopNav{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    width: 95vw;
  }
  
  
  
  .innerLogo{
    display: flex;
    gap: 5px;
  }
  
  .NavBar{
    background-color: rgb(153, 37, 37);
    width: 95%;
    height: 8vh;
    border-radius: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
  }
  
  .NavBar a{
    text-decoration: none;
    color: white;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  
  .nav-links-mobile {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    background-color: #afc27c;
    opacity: 0.50;
    font-size: 25px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    top: 15%;
    left:35%;
    /* right: 20%; */
    width: 40%;
    z-index: 1;
  }
  
  /* Media query for responsive behavior */
  @media screen and (max-width: 900px) {
    .NavBar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
    
    
  }

  
  .about-us-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1200px;
    
  }
  
  .hero-section {
    
    grid-column: span 12;
    /* background-image: url("./miles-burke-idhx-MOCDSk-unsplash.jpg"); */
    background-size: cover;
    background-position: center;
    padding-top: 5em;
    padding-bottom: 5em;
    color: #fff;
  }
  
  .title {
    /* margin-top: 250px; */
    font-family: Roboto Slab, sans-serif;
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  
  .paragraph {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  .content-section,
  .team-section {
    
    grid-column: span 12;
    padding: 3em;
  }
  
  .team-member-card {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .team-member-image {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 1.5em;
  }
  
  .team-member-info {
    flex: 1;
  }
  

.contact-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
  
  .contact-method {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .contact-method:hover {
    background-color: #f5f5f5;
  }
  
  .contact-method i {
    font-size: 1.5em;
    margin-right: 10px;
  }
  
  .contact-method span {
    font-size: 1em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: #46a049;
  }
  .Pro h1{
    color: midnightblue;
    margin-top: 100px;
  }

  