 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 /* font-family: sans-serif;  */
  background-color:#f4f5f7;
 background-repeat: no-repeat;
 font-family: "Montserrat Alternates", sans-serif;
 font-weight: 600;
 font-style: normal;

}
.footer{
    height: 70px;
    width:100% ;
    color: #f4f5f7;
    text-align: center;
    background-color: rgb(19, 16, 16);
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 10px;
    
  }
.Footer-Link{
    display: flex;
    justify-content: space-evenly;
    text-decoration-line: none;
    font-size: 20px;
    color: rgb(235, 239, 242);
}
.footer a{
  text-decoration: none;
  color: aliceblue;
}
ul{
  list-style: none;
}
.pnf{
    text-align: center;
}

   .logo{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: aquamarine;
    
  }
  .reg{
    display: flex;

    /* justify-content:space-around ; */
  }
  
  .Bttn2{
    margin-left: 85%;
    
  }
   .Bttn{
      
     margin-left: 90%; 
   
  } 
  

  .TopNav{
    display: flex;
    justify-content: space-evenly;
    /* margin: 5px; */
    width: 95vw;
  }
  
  
  
  .innerLogo{
    display: flex;
    gap: 5px;
  }
  
  .NavBar{
    background-color: rgb(153, 37, 37);
    width: 100%;
    height: 8vh;
    border-radius: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
  }
  
  .NavBar a{
    text-decoration: none;
    color: white;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  
  .nav-links-mobile {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    background-color: #155b09;
    opacity: 0.50;
    font-size: 20px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    top: 20%;
    left:25%;
    /* right: 20%; */
    width: 50%;
    z-index: 1;
  }
  .nav-links-mobile a{
    text-decoration: none;
    color: blue;
  }
  
  /* Media query for responsive behavior */
  @media screen and (max-width: 900px) {
    .NavBar {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
    
    
  }

h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: #46a049;
  }
  .Pro h1{
    color: midnightblue;
    margin-top: 100px;
  }
  .TextArea{
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 80px;
    font-size: large;
    font-weight:lighter;
    /* text-align: left; */
    /* line-height: 30px; */
    margin: 10px;
    text-align: justify;
  
  }
  
  .MainContainer{
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    left: 40px;
    margin-bottom: 20px;
    gap: 20px;
  
  }
  
  .innerContainer img{
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
  }
  
  .innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20vw;
    border: 3px solid aliceblue;
    border-radius: 10px;
  }
  
  .innerContainer a{
    text-decoration: none;
    color: black;
  }
  
  .innerContainer:hover{
    box-shadow: 0px 0px 3px 5px grey;
    transform:scaleX()(2px);
  }
  
  .FooterContainer{
    display: flex;
    justify-content: center;
    height: 130px;
    background-color: rgb(230, 230, 230);
    gap: 10px;
  }
  
  .footerLogo img{
    width:70vw;
  }
  /* .footer{
    width: fit-content;
  } */
  
  .TopNav{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    width: 98vw;
  }
  
  
  
  .innerLogo{
    display: flex;
    gap: 20px;
  }
  
  .NavBar{
    background-color: rgb(153, 37, 37);
    width: 100%;
    height: 5vh;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
  }
  
  .NavBar a{
    text-decoration: none;
    color: white;
  }
  .carousel-wrapper{
    margin-top: 2px;
  }
  .carousel-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  .thumb{
    height: 20px;
    /* opacity: 0; */
  }
  h2{
    color: rgb(168, 57, 13);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
  }
  .Btn{
    margin-left: 75%;
  }
  .DynamicContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .DynamicImg{
    width: 98vw;
    height: 60vh;
  }
  
  .DynamicText{
    width: 90vw;
    text-align: left;
    margin: 10px;
  }
  
  .DynamicText h3{
    font-size: large;
    font-weight:lighter;
  }
  /* main{
    height: 90vh;
  } */
  
  
  @media (min-width: 500px) and (max-width: 900px) {
   
  .TextArea{
    left: 20px;
    font-size:large;
  }
  .Bttn{
    margin-top: 1px;
    margin-left: 85%;
  }
   .reg{
    display: inline;
  }
   .Bttn2{
    margin-left: 75%;
    
  }  
  
   
.footer{
  height: fit-content;
}
  .MainContainer{
    left: 5px;
    gap: 3px;

  }
  .logo{
    width: 99%;
    height: 80px;
  }
  .innerContainer img{
    width: 90vw;
    height: 350px;  
  }

  .innerContainer a{
    font-size: large;
  }
  
  .innerContainer{
    width: 95vw;
  }
  .innerLogo{
    flex-direction: column;
  }
  .NavBar {
    display: none;
  }
  
  .carousel-image {
    height: 400px;
    width: 95%;
    object-fit: cover;
  }
  }
  @media (max-width: 500px) and (min-width: 250px) {
   
    .Bttn{
      
      margin-left: 70%;
     
    }
    .reg{
      display: inline;
    }
     .Bttn2{
      margin-left: 50%;
      
    } 
    .NavBar {
      display: none;
    }
    
  .DynamicImg{
    height: 300px;
  }

  .innerContainer img{
    width: 90vw;
    height: 200px;  
  }

  .innerContainer a{
    font-size: small;
  }
  
  .innerContainer{
    width: 90vw;
  }


  .Footer{
    width: 100vw;
    font-size: small;
   text-align: center;
    gap: 0px;
  }
  
 
  .FooterContainer{
    height: 100px;
    gap: 2px;
  }
  
  .footerLogo img{
    width:100%;
    height: 60px;
  }

  .headerEmail{
    font-size: 70%;
  }

  .logo{
    width: 100%;
    height: 50px;
  }

  .innerLogo{
    flex-direction: column;
  }
  
  .TextArea{
    position: relative;
    left: 10px;
    font-size:small;
    font-weight:500;
  }

  .MainContainer{
  
    left: 5px;
    gap: 3px;
  
  }
  main{
    height: fit-content;
  }
  .nav-links-mobile {
    margin-top: 33px;
  }
  }