.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TextArea{
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 80px;
  font-size: large;
  font-weight:lighter;
  /* text-align: left; */
  /* line-height: 30px; */
  margin: 10px;
  text-align: justify;

}

.MainContainer{
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  left: 40px;
  margin-bottom: 20px;
  gap: 20px;

}

.innerContainer img{
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
}

.innerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20vw;
  border: 3px solid aliceblue;
  border-radius: 10px;
}

.innerContainer a{
  text-decoration: none;
  color: black;
}

.innerContainer:hover{
  box-shadow: 0px 0px 3px 5px grey;
  transform:scaleX()(2px);
}

.FooterContainer{
  display: flex;
  justify-content: center;
  height: 130px;
  background-color: rgb(230, 230, 230);
  gap: 10px;
}

.footerLogo img{
  width:70vw;
}

.TopNav{
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  width: 98vw;
}

/* .logo{
  width: 30vw;
  height: 60px;
} */

.innerLogo{
  display: flex;
  gap: 20px;
}

.NavBar{
  background-color: rgb(153, 37, 37);
  width: 100%;
  height: 5vh;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.NavBar a{
  text-decoration: none;
  color: white;
}
.carousel-wrapper{
  margin-top: 2px;
}
.carousel-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.thumb{
  height: 20px;
  /* opacity: 0; */
}
h2{
  color: rgb(168, 57, 13);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}
.Btn{
  margin-left: 75%;
}
